*{
    box-sizing: border-box;
}
.navbar a{
    color: #383838;
    font-weight: 600;
}
button{
    color: #F06C4E;
}
#search-input{
    width: 50%;
}
#meal{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.meal-result{
    margin-top: 20px;
}
.meal-item{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.74);
    margin: 5px;
    background-color: ;
}
.meal-img img{
    width:100% ;
    display: block;
}
.meal-name{
    padding: 10px;
}
.meal-name h4{
    font-size: 20px;
    text-align: center;
}
#notFound{
    align-items: center;
    border-radius: 10px;
    border: 3px solid rgb(39, 39, 38);
    color: white;
    padding: 2rem;
    background-color: rgb(206, 84, 84);
    width: 50%;
    font-size: 30px;
    display: none;
}

#meal-details-gradients{
    max-width: 35%;
    display: block;
    justify-content: center;
    align-items: center;
    border: 0 solid black;
    box-shadow: 0 1px 10px rgba(51, 51, 51, 0.25);
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 10px;
    display: none;
}
#meal-details-gradients img{
    max-width: 100%;
    border:0 solid;
    border-radius: 10px;
    margin-bottom: 30px;
}